Hands_On_ML_Book/Chapter_2/.ipynb_checkpoints/.ipynb_checkpoints/End-to-End_ML_Project_2-checkpoint.ipynb
Hands_On_ML_Book/Chapter_3/.ipynb_checkpoints/Classification-checkpoint.ipynb
Hands_On_ML_Book/Chapter_4/.ipynb_checkpoints/Training_Models-checkpoint.ipynb
Hands_On_ML_Book/Chapter_5/.ipynb_checkpoints/Support_Vecotr_Machines-checkpoint.ipynb
